@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

body {
  margin: 0 !important;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.scoreboard {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;

  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 100px;

  box-shadow: 0px 2px 4px gray;

  border-radius: 10px;
  margin: 15px;

  &__player {
    display: flex;
    justify-content: center;
    grid-row: 0;

    &.X {
      background-color: #a7c7e7;
      border-top-left-radius: 10px;
    }

    &.O {
      background-color: #ff6961;
      border-top-right-radius: 10px;
    }
  }

  &__score {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 64px;

    &.X {
      border-bottom-left-radius: 10px;
    }
    &.O {
      border-bottom-right-radius: 10px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;

  column-gap: 8px;
  row-gap: 8px;
}

.box {
  border: none;
  border-radius: 5px;

  background-color: white;
  color: white;

  box-shadow: 0px 2px 4px gray;

  font-family: "Open Sans", sans-serif;
  font-weight: 1000;
  font-size: 2px;

  transition: 0.3s ease;
  cursor: pointer;
}

.box:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 2px 4px rgb(97, 160, 3);
}

.box.X {
  color: blue;
  font-size: 72px;
}

.box.O {
  color: red;
  font-size: 72px;
}

.box.O:hover,
.box.X:hover {
  box-shadow: 0px 2px 4px red;
}

.result {
  min-width: 300px;

  box-shadow: 0px 2px 4px gray;
  border-radius: 10px;

  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Open Sans", sans-serif;
  font-size: 28px;

  padding: 15px;
  margin: 15px;

  &__btn {
    background-color: hsl(118, 57%, 65%);

    border: none;
    border-radius: 10px;

    box-shadow: 0px 2px 4px gray;

    margin: 15px;
    padding: 15px;

    cursor: pointer;
    transition: 0.3s ease;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    &:hover {
      box-shadow: inset 0px 2px 4px gray;
      background-color: hsl(118, 57%, 50%);
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 300px;

  border-radius: 10px;

  padding: 15px;
  margin: 15px;

  box-shadow: 0px 2px 4px gray;

  &__title {
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
  }

  &__text {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
  }

  &__button {
    width: 150px;
    border: none;
    border-radius: 10px;

    box-shadow: 0px 2px 4px gray;

    margin: 15px;
    padding: 8px 5px;

    cursor: pointer;
    transition: 0.2s ease;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    &:hover {
      box-shadow: inset 0px 2px 4px black;
      background-color: darkgray;
    }
  }

  &__input {
    padding: 10px 5px;
    margin: 5px;

    border: none;
    background-color: rgb(254, 254, 254);
    border-radius: 5px;

    box-shadow: 0px 2px 4px gray;
  }

  &__group {
    display: flex;
    align-items: center;
  }
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50vw;
  padding: 15px;
  margin: 15px;

  font-family: "Open Sans", sans-serif;

  box-shadow: 0px 2px 4px gray;

  border-radius: 15px;

  &__room {
    user-select: text;
  }
}
